In [2]:
import numpy as np
import matplotlib.pyplot as plt  
import pandas as pd
import seaborn as sns

from warnings import filterwarnings
filterwarnings(action='ignore')

In [3]:
df = pd.read_csv('C:/Users/praty/OneDrive/Desktop/Miscellaneous/Train.csv')

In [75]:
df.head(8)

,ID1,Specific ailments,ID2,Food preference,Age,BMI,Smoker?,Living in?,Any heriditary condition?,Follow Diet,Physical activity,Regular sleeping hours,Alcohol consumption,Social interaction,Taking supplements,Mental health management,Illness count last year,Healthy
0,2408,44,2668,DX6,49,20.500470,NO,RURAL,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,25063,39,10363,DX3 DX4,20,26.076580,NO,URBAN,Stable,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1
2,26798,29,132,DX6,1,21.420866,NO,URBAN,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,31907,27,10499,DX1,30,25.203247,NO,RURAL,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
4,26412,9,7963,DX6,40,19.355846,YES,RURAL,Stable,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1
5,17927,13,8572,DX6,64,26.670369,NO,RURAL,Stable,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
6,16421,21,12263,DX1,26,21.449830,YES,RURAL,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
7,15598,7,6273,DX1,4,20.616673,NO,URBAN,Stable,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1

In [76]:
df.shape

(25920, 18)

In [77]:
df.describe(include='all')

,ID1,Specific ailments,ID2,Food preference,Age,BMI,Smoker?,Living in?,Any heriditary condition?,Follow Diet,Physical activity,Regular sleeping hours,Alcohol consumption,Social interaction,Taking supplements,Mental health management,Illness count last year,Healthy
count,25920.000000,25920.000000,25920.000000,25910,25920.000000,25920.000000,25920,25920,25920,24947.000000,24947.000000,24947.000000,24947.000000,24947.000000,24947.000000,24947.000000,24947.000000,25920.000000
unique,NaN,NaN,NaN,32,NaN,NaN,3,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,DX6,NaN,NaN,NO,RURAL,Stable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,9639,NaN,NaN,14938,18080,25920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,16503.583989,26.502701,6256.104282,NaN,33.235610,23.461925,NaN,NaN,NaN,0.895739,0.138053,0.184391,0.084219,0.396881,0.053073,0.000401,1.752756,0.628858
std,9522.571120,15.056563,3611.224659,NaN,19.532157,3.791150,NaN,NaN,NaN,0.305605,0.344962,0.387810,0.277721,0.489261,0.224183,0.020018,0.767824,0.483120
min,1.000000,0.000000,1.000000,NaN,0.000000,1.145000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,8251.750000,13.000000,3151.000000,NaN,16.000000,20.214882,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,16531.500000,26.000000,6246.000000,NaN,33.000000,23.415330,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000
75%,24701.500000,40.000000,9391.250000,NaN,50.000000,26.768378,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000,1.000000
max,33014.000000,52.000000,12515.000000,NaN,149.000000,29.999579,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000

In [78]:
df.dtypes

ID1                            int64
Specific ailments              int64
ID2                            int64
Food preference               object
Age                            int64
BMI                          float64
Smoker?                       object
Living in?                    object
Any heriditary condition?     object
Follow Diet                  float64
Physical activity            float64
Regular sleeping hours       float64
Alcohol consumption          float64
Social interaction           float64
Taking supplements           float64
Mental health management     float64
Illness count last year      float64
Healthy                        int64
dtype: object

In [79]:
df.isnull().sum()

ID1                            0
Specific ailments              0
ID2                            0
Food preference               10
Age                            0
BMI                            0
Smoker?                        0
Living in?                     0
Any heriditary condition?      0
Follow Diet                  973
Physical activity            973
Regular sleeping hours       973
Alcohol consumption          973
Social interaction           973
Taking supplements           973
Mental health management     973
Illness count last year      973
Healthy                        0
dtype: int64

In [80]:
df1 = df.drop(['ID1','ID2','Any heriditary condition?','Food preference',], axis=1)
df1.head()

,Specific ailments,Age,BMI,Smoker?,Living in?,Follow Diet,Physical activity,Regular sleeping hours,Alcohol consumption,Social interaction,Taking supplements,Mental health management,Illness count last year,Healthy
0,44,49,20.500470,NO,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,39,20,26.076580,NO,URBAN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1
2,29,1,21.420866,NO,URBAN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,27,30,25.203247,NO,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
4,9,40,19.355846,YES,RURAL,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1

In [81]:
#df1['Smoke'] = [1 if x != 'NO' else 0 for x in df1['Smoker?']]

In [82]:
#df1['Place'] = [1 if x != 'RURAL' else 0 for x in df1['Living in?']]

In [83]:
df1.head(10)

,Specific ailments,Age,BMI,Smoker?,Living in?,Follow Diet,Physical activity,Regular sleeping hours,Alcohol consumption,Social interaction,Taking supplements,Mental health management,Illness count last year,Healthy
0,44,49,20.500470,NO,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,39,20,26.076580,NO,URBAN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1
2,29,1,21.420866,NO,URBAN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,27,30,25.203247,NO,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
4,9,40,19.355846,YES,RURAL,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1
5,13,64,26.670369,NO,RURAL,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
6,21,26,21.449830,YES,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
7,7,4,20.616673,NO,URBAN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1
8,18,12,29.598280,NO,RURAL,1.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,1
9,20,42,29.806330,YES,URBAN,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0

In [84]:
#df2 = df1.drop(['Living in?','Smoker?'], axis=1)

In [86]:
df1.head()

,Specific ailments,Age,BMI,Smoker?,Living in?,Follow Diet,Physical activity,Regular sleeping hours,Alcohol consumption,Social interaction,Taking supplements,Mental health management,Illness count last year,Healthy
0,44,49,20.500470,NO,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,39,20,26.076580,NO,URBAN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1
2,29,1,21.420866,NO,URBAN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,27,30,25.203247,NO,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
4,9,40,19.355846,YES,RURAL,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1

In [71]:
#df2['Smoker?']=df2['Smoke']

In [72]:
#df2['Living in?']=df2['Place']

In [73]:
df2.head()

,Specific ailments,Age,BMI,Follow Diet,Physical activity,Regular sleeping hours,Alcohol consumption,Social interaction,Taking supplements,Mental health management,Illness count last year,Healthy,Smoke,Place,Smoker?,Living in?
0,44,49,20.500470,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0,0,0,0
1,39,20,26.076580,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1,0,1,0,1
2,29,1,21.420866,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,1,0,1
3,27,30,25.203247,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0,0,0,0
4,9,40,19.355846,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1,1,0,1,0

In [87]:
X = df1.drop(['Healthy'], axis = 1)
Y = df1['Healthy']

In [88]:
X

,Specific ailments,Age,BMI,Smoker?,Living in?,Follow Diet,Physical activity,Regular sleeping hours,Alcohol consumption,Social interaction,Taking supplements,Mental health management,Illness count last year
0,44,49,20.500470,NO,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,39,20,26.076580,NO,URBAN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,29,1,21.420866,NO,URBAN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,27,30,25.203247,NO,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,9,40,19.355846,YES,RURAL,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25915,12,58,25.515286,YES,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25916,39,16,27.094959,NO,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25917,44,8,28.602921,NO,RURAL,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0
25918,52,52,21.909832,NO,RURAL,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0
25919,17,41,23.828813,NO,RURAL,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [89]:
Y

0        1
1        1
2        0
3        1
4        1
        ..
25915    1
25916    0
25917    1
25918    1
25919    1
Name: Healthy, Length: 25920, dtype: int64

In [90]:
df2['Healthy'].value_counts()

1    16300
0     9620
Name: Healthy, dtype: int64

In [91]:
from sklearn.model_selection import train_test_split
X_train_full, X_valid_full, Y_train, Y_valid = train_test_split(X, Y, random_state=9)

In [92]:
categorical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and  X_train_full[cname].dtype == "object"]

In [93]:
numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

In [94]:
my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()

In [95]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import OneHotEncoder

# scaling the numerical columns and imputing the missing values
numerical_transformer = Pipeline(steps = [
    ('scaler', RobustScaler()),   
    ('imputer', SimpleImputer(strategy='mean')),
])

# one-hot encoding the categorical columns and imputing the missing values
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore')),
    ('imputer', SimpleImputer(strategy='median')),
])

# bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols),
      ])

In [96]:
from xgboost import XGBRFRegressor
xgbrfr = XGBRFRegressor(max_depth=8, random_state=22)

In [97]:
from sklearn.metrics import mean_squared_error
from math import sqrt

# bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor), 
                              ('xgbrfr', xgbrfr)
                             ])

# preprocessing of training data from training dataset and fitting the model 
my_pipeline.fit(X_train, Y_train)

# evaluating the model using testing data from training dataset
score = sqrt(mean_squared_error(Y_valid, my_pipeline.predict(X_valid)))
print('Score:',score)

Score: 0.39490925757210404

In [98]:
da = pd.read_csv('C:/Users/praty/OneDrive/Desktop/Miscellaneous/Test.csv')

In [112]:
da.shape

(6480, 17)

In [99]:
da.head()

,ID1,Specific ailments,ID2,Food preference,Age,BMI,Smoker?,Living in?,Any heriditary condition?,Follow Diet,Physical activity,Regular sleeping hours,Alcohol consumption,Social interaction,Taking supplements,Mental health management,Illness count last year
0,28534,2,3306,DX6,38,18.879331,YES,URBAN,Stable,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,7970,5,5573,DX1,46,21.231991,NO,URBAN,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,22039,37,9305,DX4,11,17.867876,NO,RURAL,Stable,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,12332,44,8274,DX5,10,26.886096,NO,RURAL,Stable,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0
4,4116,37,4558,DX3 DX4,3,23.362746,NO,RURAL,Stable,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0

In [100]:
H = my_pipeline.predict(da)

In [107]:
dfr=pd.DataFrame([H])
dfr=dfr.T
dfr.columns=(['H'])
dfr['pred1'] = dfr.loc[dfr.H>0, 'H']*df.loc[df.Healthy>0,'Healthy']
dfr.pred1.fillna(value=0, inplace=True)

In [108]:
dfr.index=dfr['pred1']
dfr=dfr.drop(columns=['pred1','H'])

In [109]:
dfr.to_csv('C:/Users/praty/OneDrive/Desktop/Miscellaneous/Final.csv')

In [113]:
dfr.head(15)

Empty DataFrame
Columns: []
Index: [0.42850786447525024, 0.8900320529937744, 0.0, 0.7938090562820435, 0.8754352927207947, 0.840933084487915, 0.21751698851585388, 0.8103055357933044, 0.9191702604293823, 0.0, 0.767562985420227, 0.0, 0.0, 0.0, 0.8906003832817078]